<div class="container">
  <div class="row">
    <div class="col s6 m8">
      <form [formGroup]="salesForm">
        
        <!-- fecha de emision -->
        <mat-form-field appearance="outline" class="col s12">
          <mat-label>Fecha de Emision</mat-label>
          <input
          matInput
          formControlName="date_emition"
          [matDatepicker]="emition">
          <mat-datepicker-toggle matSuffix [for]="emition"></mat-datepicker-toggle>
          <mat-datepicker #emition startView="year"
          ></mat-datepicker>
        </mat-form-field>
        <!-- fecha de Vencimiento -->
        <mat-form-field appearance="outline" class="col s12">
          <mat-label>Fecha de Vencimiento</mat-label>
          <input
          matInput
          formControlName="date_expiration"
          [matDatepicker]="expire">
          <mat-datepicker-toggle matSuffix [for]="expire"></mat-datepicker-toggle>
          <mat-datepicker #expire startView="year"
          ></mat-datepicker>
        </mat-form-field>
        <!-- clientes -->
        <mx-searcher-list
        [collection]="'businesses/' + businessRef + '/clients'"
        [param]="'name'"
        [label]="'clientes'"
        (results)="getValue($event)"
        ></mx-searcher-list>
        <ng-container *ngIf="client!= null">
          <mat-form-field appearance="outline" class="col s12">
            <mat-label>Clave de Identificacion Personal</mat-label>
            <input matInput type="text" name="cip" formControlName="cip"
            >
          </mat-form-field>
          <mat-form-field appearance="outline" class="col s12">
            <mat-label>email</mat-label>
            <input matInput type="text" name="email" formControlName="email"
            >
          </mat-form-field>
        </ng-container>
        <!-- Vendedor -->
        <mat-form-field appearance="outline" class="col s12">
          <mat-label>Vendedor</mat-label>
          <input matInput type="text" name="seller" formControlName="seller"
          >
          <mat-error *ngIf="salesForm.hasError('required', 'seller')">
            Este dato es necesario
          </mat-error>
        </mat-form-field>
        <!-- Moneda -->
        <mat-form-field appearance="outline" class="col s12">
          <mat-label >Moneda</mat-label>
          <mat-select formControlName="currency">
            <mat-option value="USD">USD</mat-option>
            <mat-option value="COP">COP</mat-option>
          </mat-select>
          <mat-error *ngIf="salesForm.hasError('required', 'coin')">
            Este dato es necesario
          </mat-error>
        </mat-form-field>
        <!-- metodos de pago -->
        <mat-form-field appearance="outline" class="col s12">
          <mat-label>Formas de Pago</mat-label>
          <mat-select formControlName="payment_method">
            <mat-option value="01">Efectivo</mat-option>
            <mat-option value="02">Tarjeta de Crédito</mat-option>
            <mat-option value="03">Tarjeta de Débito</mat-option>
            <mat-option value="04">Crédito</mat-option>
          </mat-select>
          <mat-error *ngIf="salesForm.hasError('required', 'payment_method')">
            Este dato es necesario
          </mat-error>
        </mat-form-field>
            <button mat-raised-button color="accent"
            click=""
            >
              Agregar Concepto
            </button>
            <app-add-concept></app-add-concept>
      </form>
    </div>
    <div class="row">
      <div class="col s12">
        <button mat-raised-button color="primary" 
        [disabled]="salesForm.invalid"
        (click)="onSubmit()">
          guardar
        </button>
      </div>
    </div>
  </div>
</div>
