  <ng-template #selectInvoice>
  <mx-searcher-list
  [label]="'Nro de Factura'"
  [collection]="'businesses/'+debit.businessCRF+'/sales'"
  [param]="'invoiceId'"
  (results)="debit.getValue($event)"
  >
</mx-searcher-list>
</ng-template>

<ng-container *ngIf="debit.invoice_Ref else selectInvoice">
  <div class="row">
    <div class="col s4">

      <!-- TALONARIO -->
      <app-stub-selector
      [type]="'debit'"
      (onSelect)="selected($event)"
      ></app-stub-selector>
    </div>
    <div class="col s4">
        <h1>{{debit.nroInvoice}}</h1>
    </div>
    <mat-form-field appearance="outline" class="col s4 l3">
      <mat-label>Fecha de Emision</mat-label>
      <input matInput [formControl]="emition_date" [matDatepicker]="emition">
      <mat-datepicker-toggle matSuffix [for]="emition"></mat-datepicker-toggle>
      <mat-datepicker #emition startView="year"></mat-datepicker>
    </mat-form-field>
    <div class="row">
      <ng-container *ngIf="debit.invoice_Ref as invoice">
        <div class="col s3">
          nro de Factura: {{invoice.invoiceId}}
        </div>
        <div class="row">
          <div class="col s4">
            Nombre Cliente: {{invoice.client.name}}
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            Metodo de Pago: {{invoice.payment_method}}
          </div>
          <div class="col s4">
            Vendedor: {{invoice.seller}}
          </div>
          <div class="col s4">
            Moneda :{{invoice.currency}}
          </div>
        </div>
        <ng-container *ngIf=" invoiceConcept.details_Notes$.value as details">
          <ng-container *ngFor="let det of details">
            <app-invoice-details [document]="'debit'" [concept]="det">
            </app-invoice-details>
          </ng-container>
        </ng-container>
        <!-- FOOTER -->
        <app-footer-credito-debito>
        </app-footer-credito-debito>
      </ng-container>
    </div>
    <ng-container *ngIf="this.footer.footer$.value">
      <button mat-raised-button color="primary" [disabled]="this.footer.footer$.value.total <= 0" (click)="save()" >guardar</button>
    </ng-container>
  </div>
</ng-container>
