[submodule "libs/@marxa/devkit"]
	path = libs/@marxa/devkit
	url = https://github.com/jgu7man/mx-devkit
	branch = from-merpsi
[submodule "libs/@marxa/index"]
	path = libs/@marxa/index
	url = https://github.com/jgu7man/mx-index
	branch = from-merpsi
[submodule "libs/@marxa/crud-panel"]
	path = libs/@marxa/crud-panel
	url = https://github.com/jgu7man/mx-crud-panel
	branch = from-merpsi
