<nav mat-tab-nav-bar>
  <a mat-tab-link
     (click)="activeLink = 'list'"
     [routerLink]="['list']"
     [active]="activeLink == 'list'"> Lista 
  </a>
  <a mat-tab-link
     (click)="activeLink = 'categories'"
     [routerLink]="['categories']"
     [active]="activeLink == 'categories'"> Categorías 
  </a>
  <a mat-tab-link
     (click)="activeLink = 'countings'"
     [routerLink]="['countings']"
     [active]="activeLink == 'countings'"> Arqueos 
  </a>
  <a mat-tab-link
     (click)="activeLink = 'measure_units'"
     [routerLink]="['measure_units']"
     [active]="activeLink == 'measure_units'"> Unidades de medida
  </a>
</nav>

<router-outlet></router-outlet>