<mx-searcher-list
[label]="'Buscar cliente'"
[collection]="'businesses/' + businessRef + '/clients/'"
[param]="'name'"
(results)="getValue($event)"
(listLoaded)="getList($event)">
</mx-searcher-list>
<ng-container *ngIf="emptyList">
  <small>
    ¿No se encuentra el cliente? Para agregarlo haz click</small>
    <button mat-icon-button color="accent" (click)="createClient()">
    aqui
  </button>
</ng-container>

<ng-container *ngIf="clientSelected">
  <p>
    {{clientSelected.CRF}} <br>
    <span *ngIf="clientSelected.contact as contact">
      <span *ngIf="contact.email">{{contact.email}}</span> <br>
      <span *ngIf="contact.cellphone">{{contact.cellphone}}</span>
    </span>
  </p>
  <p *ngIf="clientSelected.address">
    {{clientSelected.getAddress()}}
  </p>
</ng-container>
