<mat-card>
  <mat-card-content>

    <form  class="row" [formGroup]="addressForm">

      <!-- Calle -->
      <mat-form-field
        appearance="outline"
        class="col s9">
          <mat-label>Calle</mat-label>
          <input
          matInput
          type="text"
          name="streetName"
          formControlName="streetName"
          >
      </mat-form-field>

      <!-- Numero -->
      <mat-form-field
        appearance="outline"
        class="col s3">
          <mat-label>Numero</mat-label>
          <input
          matInput
          type="text"
          name="streetNumber"
          formControlName="streetNumber"
          >
      </mat-form-field>

      <!-- Colonia -->
      <mat-form-field
        appearance="outline"
        class="col s6">
          <mat-label>Colonia</mat-label>
          <input
          matInput
          type="text"
          name="neighborhood"
          formControlName="neighborhood"
          >
      </mat-form-field>

      <!-- Ciudad -->
      <mat-form-field
        appearance="outline"
        class="col s6">
          <mat-label>Ciudad</mat-label>
          <input
          matInput
          type="text"
          name="city"
          formControlName="city"
          >
      </mat-form-field>

      <!-- Estado -->
      <mat-form-field
        appearance="outline"
        class="col s6">
          <mat-label>Estado</mat-label>
          <input
          matInput
          type="text"
          name="state"
          formControlName="state"
          >
      </mat-form-field>


      <!-- Codigo Postal -->
      <mat-form-field
        appearance="outline"
        class="col s6">
          <mat-label>Codigo Postal</mat-label>
          <input
          matInput
          type="text"
          name="zipCode"
          formControlName="zipCode"
          >
      </mat-form-field>

      <!-- País -->
      <mat-form-field
        appearance="outline"
        class="col s6">
          <mat-label>País</mat-label>
          <input
          matInput
          type="text"
          name="country"
          formControlName="country"
          >
      </mat-form-field>

    </form>

  </mat-card-content>
</mat-card>
