<div class="container">
  <div class="row">
    <div class="col s12 ">
      <form [formGroup]="formAddProduct">
        <ng-container >
        <!-- UPC -->
        <div class="col s2">
          <mat-form-field appearance="outline" class="col s12">
            <mat-label>UPC</mat-label>
            <input matInput type="text" name="UPC" formControlName="UPC">
          </mat-form-field>
        </div>
        <!-- DESCRIPTION -->
        <div class="col s2">
          <mat-form-field appearance="outline" class="col s12">
            <mat-label>descripcion</mat-label>
            <input matInput type="text" name="description" formControlName="description">
          </mat-form-field>
        </div>
        <!-- cantidad -->
        <div class="col s2">
          <mat-form-field appearance="outline" class="col s12">
            <mat-label>Cantidad</mat-label>
            <input matInput type="number" name="cantidad" formControlName="cant">
            <mat-error *ngIf="formAddProduct.hasError('required', 'cant')">
              Este dato es necesario
            </mat-error>
          </mat-form-field>
        </div>
        <!-- precio -->
        <div class="col s2">
          <mat-form-field appearance="outline" class="col s12">
            <mat-label>Precio</mat-label>
            <input matInput type="number" name="amount" formControlName="unit_cost">
            <mat-error *ngIf="formAddProduct.hasError('required', 'unit_cost')">
              Este dato es necesario
            </mat-error>
          </mat-form-field>
        </div>
        <!-- total -->
        <div class="col s2">
          <mat-form-field appearance="outline" class="col s12">
            <mat-label>total</mat-label>
            <input matInput type="number" name="amount" formControlName="amount">
            <mat-error *ngIf="formAddProduct.hasError('required', 'unit_cost')">
              Este dato es necesario
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col s2">
          <button 
          mat-raised-button
          color="warn" 
          (click)="deleteConcept(concept)">
          delete
          </button>
        </div>
      </ng-container>
      </form>
    </div>
  </div>
</div>