<form class="row" [formGroup]="salesForm">
  <!-- Nro de Factura -->
  <ng-container *ngIf="!invoice">
    <mat-form-field appearance="outline" class="col s12 l4">
      <mat-label>Talonario</mat-label>
      <mat-select placeholder="Placeholder" name="stub" (selectionChange)="selectStubInvoice($event)"
        [formControl]="stubForm">
        <mat-option *ngFor="let item of sales.stubList$.value" [value]="item">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
  <ng-container *ngIf="(sales.stubSelect$.value || invoice)">
    <div appearance="outline" class="col s12 offset-l4">
      <mat-label>Factura Nro: </mat-label>
      <ng-container *ngIf="invoice">
        <h1>{{ invoice.invoiceId}}</h1>
      </ng-container>
      <ng-container *ngIf="sales.stubSelect$.value!">
        <h1>{{sales.stubSelect$.value.prefixIndexCurrent</h1>
      </ng-container>
    </div>
    <!-- clientes -->
    <ng-container *ngIf="invoice else autoComplete">
      <div>
        <b>Cliente:</b> {{invoice.client.name}}
        <!-- <b>identificacion:</b> {{invoice.client.cip}} <br> -->
        <b>vendedor:</b> {{invoice.seller}}
        <b>Moneda:</b> {{invoice.currency}}
        <b>Metodo de Pago:</b> {{invoice.payment_method}}
      </div>
    </ng-container>
    <ng-template #autoComplete>
      <mx-searcher-list [collection]="'businesses/' + businessRef + '/clients'" [param]="'name'" [label]="'clientes'"
        (results)="getValue($event)">
      </mx-searcher-list>
    </ng-template>
    <ng-container *ngIf="clientform.value && !invoice">
      <form class="row" [formGroup]="clientform">
        <mat-form-field appearance="outline" class="col s12 l4">
          <mat-label>Clave de Identificacion Personal</mat-label>
          <input matInput type="text" name="cip" formControlName="cip">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col s12 l4">
          <mat-label>email</mat-label>
          <input matInput type="text" name="email" formControlName="email">
        </mat-form-field>
      </form>


      <!-- Vendedor -->
      <mat-form-field appearance="outline" class="col s12 l4">
        <mat-label>Vendedor</mat-label>
        <input matInput type="text" name="seller" formControlName="seller">
        <mat-error *ngIf="salesForm.hasError('required', 'seller')">
          Este dato es necesario
        </mat-error>
      </mat-form-field>
      <!-- Moneda -->
      <mat-form-field appearance="outline" class="col s12 l4 offset-l4">
        <mat-label>Moneda</mat-label>
        <mat-select formControlName="currency" [FormControl]="">
          <mat-option value="USD">USD</mat-option>
          <mat-option value="COP">COP</mat-option>
        </mat-select>
        <mat-error *ngIf="salesForm.hasError('required', 'coin')">
          Este dato es necesario
        </mat-error>
      </mat-form-field>
      <!-- metodos de pago -->
      <mat-form-field appearance="outline" class="col s12">
        <mat-label>Formas de Pago</mat-label>
        <mat-select formControlName="payment_method">
          <mat-option value="Efectivo">Efectivo</mat-option>
          <mat-option value="Tarjeta de Crédito">Tarjeta de Crédito</mat-option>
          <mat-option value="Tarjeta de Débito">Tarjeta de Débito</mat-option>
          <mat-option value="Crédito">Crédito</mat-option>
        </mat-select>
        <mat-error *ngIf="salesForm.hasError('required', 'payment_method')">
          Este dato es necesario
        </mat-error>
      </mat-form-field>
    </ng-container>
    <div class="row">
      <button mat-raised-button color="accent" [disabled]="invoice!=null" (click)="addConcept()">
        Agregar Concepto
      </button>
      <ng-container *ngIf="!invoice else seeInvoice">
        <ng-container *ngIf="conceptInvoice.details$ | async as details">
          <ng-container *ngFor="let concept of details ">
            <app-invoice-concept [document]="'sale'" [concept]="concept" [invoice]="invoice">
            </app-invoice-concept>
          </ng-container>
        </ng-container>
      </ng-container>
      <ng-template #seeInvoice>
        <ng-container *ngIf="conceptInvoice.details_invoice$ | async as details">
          <ng-container *ngFor="let concept of details ">
            <app-invoice-concept [document]="'sale'" [concept]="concept" [invoice]="invoice">
            </app-invoice-concept>
          </ng-container>
        </ng-container>
      </ng-template>
      <!-- <ng-container *ngIf="sales.details.length > 0"> -->
      <app-footer-invoice [document]="'sale'" [invoice]="invoice">
      </app-footer-invoice>
      <!-- </ng-container> -->
    </div>
    <button mat-raised-button color="primary"
      [disabled]="((salesForm.invalid || clientform.invalid) && conceptInvoice.details$.value.length <= 0) || invoice != null"
      (click)="saveInvoice()">Guardar</button>
    <ng-container *ngIf="invoice">
      <button mat-raised-button color="accent" (click)="createCredit()">Crear Nota Credito</button>
      <button mat-raised-button color="primary" (click)="createDebit()">Crear Debito</button>
    </ng-container>

  </ng-container>
</form>