<form class="row" [formGroup]="salesForm">
  <!-- Nro de Factura -->
  <mat-form-field appearance="outline" class="col s12 l4">
    <mat-label>Talonario</mat-label>
    <mat-select placeholder="Placeholder" name="stub" (selectionChange)="selectStubInvoice($event)">
      <mat-option *ngFor="let item of stubList" [value]="item">
        {{item.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <ng-container *ngIf="stubSelect && sales.current$.value">
    <div appearance="outline" class="col s12 l4">
      <mat-label>Factura Nro: </mat-label>
      <h1>{{sales.current$.value.invoice_ID}}</h1>
    </div>
    <!-- fecha de emision -->
    <mat-form-field appearance="outline" class="col s12 l4">
      <mat-label>Fecha de Emision</mat-label>
      <input matInput formControlName="date_emition" [matDatepicker]="emition">
      <mat-datepicker-toggle matSuffix [for]="emition"></mat-datepicker-toggle>
      <mat-datepicker #emition startView="year"></mat-datepicker>
    </mat-form-field>
    <!-- fecha de Vencimiento -->
    <mat-form-field appearance="outline" class="col s12 l4 offset-l4">
      <mat-label>Fecha de Vencimiento</mat-label>
      <input matInput formControlName="date_expiration" [matDatepicker]="expire">
      <mat-datepicker-toggle matSuffix [for]="expire"></mat-datepicker-toggle>
      <mat-datepicker #expire startView="year"></mat-datepicker>
    </mat-form-field>

    <!-- clientes -->
    <mx-searcher-list [collection]="'businesses/' + businessRef + '/clients'" [param]="'name'" [label]="'clientes'"
      (results)="getValue($event)"></mx-searcher-list>
    <ng-container *ngIf="client!= null">
      <form class="row" [formGroup]="clientform">
        <mat-form-field appearance="outline" class="col s12 l4">
          <mat-label>Clave de Identificacion Personal</mat-label>
          <input matInput type="text" name="cip" formControlName="cip">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col s12 l4 offset-l4">
          <mat-label>email</mat-label>
          <input matInput type="text" name="email" formControlName="email">
        </mat-form-field>
      </form>

      <ng-container *ngIf="sales.current$ | async as sales">
        <!-- Vendedor -->
        <mat-form-field appearance="outline" class="col s12 l4">
          <mat-label>Vendedor</mat-label>
          <input matInput type="text" name="seller" formControlName="seller">
          <mat-error *ngIf="salesForm.hasError('required', 'seller')">
            Este dato es necesario
          </mat-error>
        </mat-form-field>
        <!-- Moneda -->
        <mat-form-field appearance="outline" class="col s12 l4 offset-l4">
          <mat-label>Moneda</mat-label>
          <mat-select formControlName="currency">
            <mat-option value="USD">USD</mat-option>
            <mat-option value="COP">COP</mat-option>
          </mat-select>
          <mat-error *ngIf="salesForm.hasError('required', 'coin')">
            Este dato es necesario
          </mat-error>
        </mat-form-field>
        <!-- metodos de pago -->
        <mat-form-field appearance="outline" class="col s12">
          <mat-label>Formas de Pago</mat-label>
          <mat-select formControlName="payment_method">
            <mat-option value="01">Efectivo</mat-option>
            <mat-option value="02">Tarjeta de Crédito</mat-option>
            <mat-option value="03">Tarjeta de Débito</mat-option>
            <mat-option value="04">Crédito</mat-option>
          </mat-select>
          <mat-error *ngIf="salesForm.hasError('required', 'payment_method')">
            Este dato es necesario
          </mat-error>
        </mat-form-field>
        <div class="row">
          <ng-container>
            <button mat-raised-button color="accent" (click)="addConcept()">
              Agregar Concepto
            </button>
            <ng-container *ngFor="let concept of sales.details ">
              <app-invoice-concept-sales [concept]="concept" (changes)="getChanges($event)"
                (delete)="deleteConcept($event)">
              </app-invoice-concept-sales>
            </ng-container>
            <!-- <ng-container *ngIf="sales.details.length > 0"> -->
            <app-footer-invoice (getFooter)="getFooter($event)" [footerCalc]="footerCalc"></app-footer-invoice>
            <!-- </ng-container> -->
          </ng-container>
        </div>
        <button mat-raised-button color="primary"
          [disabled]="(salesForm.invalid || clientform.invalid) && sales.details.length <= 0"
          (click)="saveInvoice()">Guardar</button>
      </ng-container>
    </ng-container>
  </ng-container>
</form>