  <div class="container">
  <div class="row">
    <div class="col s12 m8">
      <form class="row" [formGroup]="creditNoteForm">
        <!-- NRO FACTURA -->
        <mat-form-field appearance="outline" class="col s3 l3">
          <mat-label>Nro de factura</mat-label>
          <input matInput type="text" name="invoiceId" formControlName="invoiceId">
        </mat-form-field>
        <!-- fecha -->
        <mat-form-field appearance="outline" class="col s3 l3">
          <mat-label>Fecha de Emision</mat-label>
          <input matInput formControlName="date_emition" [matDatepicker]="emition">
          <mat-datepicker-toggle matSuffix [for]="emition"></mat-datepicker-toggle>
          <mat-datepicker #emition startView="year"></mat-datepicker>
        </mat-form-field>
        <!-- <mat-form-field appearance="outline" class="col s4 l4">
          <mat-label>Concepto</mat-label> -->
          <!-- <input
          matInput
          type="text"
          name="concept"
          formControlName="concept"
          [disabled]="true"
          > -->
          <!-- Concepto -->
          <mat-form-field class="col s6">
            <mat-label>Concepto</mat-label>
            <mat-select formControlName="concept" name="concept" >
              <mat-option [value]="1">
                Anulacion de Factura
              </mat-option>
              <mat-option [value]="2">
                Devolucion de parte de los Bienes
              </mat-option>
            </mat-select>
          </mat-form-field>
        <!-- </mat-form-field> -->
      </form>
    </div>
  </div>
  <ng-container *ngIf="credit.currentNC$.value as invoice_current">
    <div class="col s3">
      nro de Factura: {{invoice_current.invoice_ID}}
    </div>
    <div class="row">
      <div class="col s4">
        Nombre Cliente: {{invoice_current.client.name}}
      </div>
      <div class="col s4">
        correo :{{invoice_current.client.email}}
      </div>
      <div class="col s4">
        identificacion: {{invoice_current.client.cip}}
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        Metodo de Pago: {{invoice_current.payment_method}}
      </div>
      <div class="col s4">
        Vendedor: {{invoice_current.seller}}
      </div>
      <div class="col s4">
        Moneda :{{invoice_current.currency}}
      </div>
    </div>
    <ng-container *ngFor="let concept of invoice_current.details ">
      <app-invoice-concept-sales [concept]="concept" (changes)="getChanges($event)" [invoice]="invoice_current">
      </app-invoice-concept-sales>
    </ng-container>
    <app-footer-invoice [footerCalc]="invoice_current.footer" (getFooter)="getFooter($event)" [invoice]="invoice_current">
    </app-footer-invoice>
  </ng-container>
  <button mat-raised-button color="primary" (click)="save()">Guardar</button>
</div>