<ng-container *ngIf="concept">
  <div class="container">
    <div class="row">
      <div class="col s12 ">
        <form [formGroup]="formAddProduct">
          <!-- UPC -->
          <div class="col s2">
            UPC: <br>{{concept.product.UPC}}
          </div>
          <!-- DESCRIPTION -->
          <div class="col s2">
            Descripcion: {{concept.product.description}}
          </div>
          <!-- STORE -->
          <!-- <div class="col s2">
            <mat-form-field  class="col s12">
              <mat-label>Sede</mat-label>
          <mat-select formControlName="store">
            <mat-option *ngFor="let store of stores$ | async" value="store">{{store.name}}</mat-option>
          </mat-select>
          </mat-form-field>
          </div> -->
          <!-- cantidad -->
          <div class="col s2">
            <mat-form-field appearance="outline" class="col s12">
              <mat-label>Cantidad</mat-label>
              <input matInput type="number"  name="cantidad" formControlName="cant">
              <mat-error *ngIf="formAddProduct.hasError('required', 'cant')">
                Este dato es necesario
              </mat-error>
              <mat-error *ngIf="formAddProduct.hasError('max', 'cant')">
                cantidad no disponible, ingrese un numero menor
              </mat-error>
              <!-- <mat-error *ngIf="formAddProduct.hasError('max', 'cant') && document == 'credit-note'">
                cantidad no disponible, ingrese un numero menor
              </mat-error> -->
            </mat-form-field>
          </div>
          <!-- precio -->
          <div class="col s2">
            <mat-form-field appearance="outline" class="col s12">
              <mat-label>Precio Unitario</mat-label>
              <input matInput type="number" name="amount" formControlName="unit_cost">
              <mat-error *ngIf="formAddProduct.hasError('required', 'unit_cost')">
                Este dato es necesario
              </mat-error>
              <mat-error *ngIf="formAddProduct.hasError('max', 'unit_cost')">
                el monto debe ser menor
              </mat-error>
            </mat-form-field>
          </div>
          <!-- total -->
          <div class="col s2">
            Total: <br> {{concept.amount | number}}
          </div>
          <div class="col s2">
            <button 
            mat-raised-button
            color="warn" 
            (click)="deleteConcept(concept)"
            [disabled]="invoice!=null">
            X
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-container>