<mx-crud-panel
*ngIf="( stub.list$ | async ) as list"
listName="Talonarios de Factura de Venta"
[addTemplate]="add"
[list]="list"
[selectTemplate]="select"
itemSelector="name"
[drawerWidth]="50"
#crudPanel
(onDelete)="stub.delete($event)"
>

<ng-template #add>
  <mat-card class="mat-elevation-z0">
    <mat-card-header>
      <mat-card-title>Crear Talonario para tus facturas de Ventas</mat-card-title>
      <mat-card-subtitle>Indica la numeración inicial y final.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <app-stub-form-create
      (saved)="crudPanel.closeAll()"></app-stub-form-create>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #select let-stub="item" >
  <mat-card class="mat-elevation-z0">
    <mat-card-header>
      <mat-card-title>Editar Talonario</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <app-stub-form-create [value] = "stub"
      ></app-stub-form-create>
    </mat-card-content>
  </mat-card>
</ng-template>