<form class="row" [formGroup]="productForm">

  <!-- CÓDIGO -->
  <mat-form-field class="col s12 l5 codigo-input"
    appearance="outline"
    *ngIf="!product"
  >
    <mat-label>Código de prodcuto (UPC)</mat-label>
    <mat-hint class="red-text">
      Una vez asignado el código principal del producto, no podrá ser cambiado
    </mat-hint>
    <input
      matInput
      type="text"
      name="product_code"
      formControlName="product_code"
      required
    />
    <mat-error *ngIf="productForm.hasError('required', 'product_code')">
      Código es necesario
    </mat-error>
  </mat-form-field>

  <!-- REFERENCIA -->
  <mat-form-field appearance="outline" class="col s12 l7">
    <mat-label>Referencia</mat-label>
    <input
      matInput
      type="text"
      name="reference"
      formControlName="reference"
      required
    />
    <mat-error *ngIf="productForm.hasError('required', 'reference')">
      Referencia es necesario
    </mat-error>
  </mat-form-field>

  <!-- MARCA -->
  <mat-form-field appearance="outline" class="col s12 l5">
    <mat-label>Marca</mat-label>
    <input
    matInput
    type="text"
    name="brand"
    formControlName="brand"
    >
  </mat-form-field>

  <!-- DESCRIPTION -->
  <mat-form-field
    appearance="outline"
    class="col s12">
      <mat-label>Descripción</mat-label>
      <textarea 
        matInput
        name="description" 
        formControlName="description" 
        cols="30" 
        rows="3"
        [mat-autosize]="true"
      ></textarea>
  </mat-form-field>

  <!-- UNIDAD DE MEDIDA -->
  <mat-form-field appearance="outline" class="col s12 l6">
    <mat-label>Unidad de medida</mat-label>
    <mat-select formControlName="measure_unit" name="measure_unit">
      <mat-option value="Unidad">Unidad</mat-option>
    </mat-select>
    <mat-error *ngIf="productForm.hasError('required', 'measure_unit')">
      Unidad de medida es necesario
    </mat-error>
  </mat-form-field>

  <!-- COSTO UNITARIO -->
  <!-- <mat-form-field appearance="outline" class="col s6 l4">
    <mat-label>Costo Unitario</mat-label>
    <input
      matInput
      type="number"
      name="costoUnitario"
      formControlName="costoUnitario"
      required
    />
    <span matPrefix>$&nbsp;</span>
    <mat-error *ngIf="productForm.hasError('required', 'costoUnitario')">
      Costo Unitario es necesario
    </mat-error>
  </mat-form-field> -->

  <!-- IVA -->
  <!-- <mat-form-field appearance="outline" class="col s6 l3">
    <mat-label>IVA</mat-label>
    <input matInput type="number" name="iva" formControlName="iva" required />
    <mat-error *ngIf="productForm.hasError('required', 'iva')">
      IVA es necesario
    </mat-error>
  </mat-form-field> -->

  <!-- ALMACENES -->
  <div class="col s12">
    <div class="row" id="almacenes-container">
      <div class="col s12">
        <p id="almacenes-label"><small>Existencia en almacenes</small></p>

        <mat-accordion>
          <mat-expansion-panel class="mat-elevation-z0 col s12 almacen-container"
          *ngFor="let almacenForm of storesForm.controls; let i = index"
          [expanded]="store_id == almacenForm.value['id'] || i === 0"
          >
            <mat-expansion-panel-header>
              <span *ngIf="(almacenForm | asFormGroup | formRawValue) as almacen">
                {{almacen['id'] }}
              </span>
            </mat-expansion-panel-header>

            <form  class="row" [formGroup]="almacenForm | asFormGroup">

              <!-- EXISTENCIAS -->
              <mat-form-field appearance="outline" class="col s6">
                <mat-label>Existencias</mat-label>
                <input matInput
                      type="number"
                      name="existencias"
                      formControlName="existencias"
                      required
                >
                <mat-error *ngIf="almacenForm.hasError('required', 'existencias')">
                  Existencias es necesario
                </mat-error>
              </mat-form-field>

              <!-- MINIMO REQUERIDO -->
              <mat-form-field appearance="outline" class="col s6">
                <mat-label>Mínimo requerido</mat-label>
                <input
                matInput
                type="number"
                name="min_requerido"
                formControlName="min_requerido"
                required
                >
                <mat-error *ngIf="almacenForm.hasError('required', 'min_requerido')">
                 Mínimo requerido es necesario
                </mat-error>
              </mat-form-field>

              <!-- ESTANTERIAS -->
              <mat-form-field appearance="outline" class="col s12 has-hint">
                <mat-hint
                  >Escribe una etiqueta de estantería y después presiona COMA para que se agreguen a lalista."</mat-hint
                >
                <mat-label>Estanterías</mat-label>
                <mat-chip-list #estanteriaList aria-label="Estanterias">
                  <mat-chip
                    *ngFor="let estanteria of almacenForm.value['estanterias']"
                    [selectable]="true"
                    [removable]="true"
                    (removed)="removeOnEstanteria(estanteria, i)"
                  >
                    {{ estanteria }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  <input
                    placeholder="Agrega una categoría"
                    [matChipInputFor]="estanteriaList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="true"
                    (matChipInputTokenEnd)="addOnEstanteria($event, i)"
                  />
                </mat-chip-list>
              </mat-form-field>

            </form>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

  </div>

  <!-- PROVEEDOR -->
  <!-- <mat-form-field appearance="outline" class="col s12 l6">
    <mat-label>Proveedor</mat-label>
    <mat-select placeholder="Especifica el proveedor de este producto"
    formControlName="provider"
    name="provider">
      <mat-option *ngFor="let proveedor of proveedores_ref" [value]="proveedor.value">
        {{proveedor.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field> -->

  <!-- CATEGORIAS -->
  <mat-form-field appearance="outline" class="col s12 has-hint">
    <mat-hint
      >Escribe categorías y después presiona COMA para que se agreguen a la
      lista. Si deseas agregar modelos de motos que aplican a este producto usa
      el campo "Modelos de aplicación"</mat-hint
    >
    <mat-label>Categorías</mat-label>
    <mat-chip-list #categoriasList aria-label="Códigos Escaneables">
      <mat-chip
        *ngFor="let catego of categories"
        [selectable]="true"
        [removable]="true"
        (removed)="removeItem(catego, 'categories')"
      >
        {{ catego }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Agrega una categoría"
        [matChipInputFor]="categoriasList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="addItem($event, 'categories')"
      />
    </mat-chip-list>
  </mat-form-field>

  <!-- NOTES -->
  <mat-form-field appearance="outline" class="col s12 has-hint">
    <mat-hint
      >Escribe los modelos y después presiona COMA para que se agreguen a la
      lista</mat-hint
    >
    <mat-label>Modelos de aplicación</mat-label>
    <mat-chip-list #modelosList aria-label="Modelos de aplicacion">
      <mat-chip
        *ngFor="let modelo of aplicacion_modelos"
        [selectable]="true"
        [removable]="true"
        (removed)="removeItem(modelo, 'modelos')"
      >
        {{ modelo }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Agregar modelo de aplicacion"
        [matChipInputFor]="modelosList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="addItem($event, 'modelos')"
      />
    </mat-chip-list>
  </mat-form-field>

  <!-- CODIGO QR -->
  <div class="col s12">
    <!-- <app-qrcodes-crud
      [codes]="codigos_adicionales"
      (codesChanged)="qrlistChanged($event)"
    ></app-qrcodes-crud> -->
  </div>

  <div class="col s12 center">
    <button
      mat-raised-button
      color="primary"
      [disabled]="productForm.invalid || !enableForm"
      (click)="onSubmit()"
    >
      Guardar
    </button>
  </div>
</form>
