<form [formGroup]="invoiceForm">

  <div class="row">
    <!-- numero de factura -->
    <mat-form-field appearance="outline" class="col s12 l4 ">
      <mat-label>Nro de Factura</mat-label>
      <input matInput type="text" name="invoiceId" formControlName="invoiceId"
        (blur)="findInvoice(invoiceForm.controls.invoiceId.value)" />
      <mat-error *ngIf="invoiceForm.hasError('required', 'invoiceId')">
        Este dato es necesario
      </mat-error>
      <mat-error *ngIf="invoiceForm.hasError('exist', 'true')">
        Este factura ya esta registrada
      </mat-error>
    </mat-form-field>

    <!-- fecha de la factura -->
    <mat-form-field appearance="outline" class="col s12 l4">
      <mat-label>Fecha de Compra</mat-label>
      <input matInput formControlName="action_date" [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year"></mat-datepicker>
      <mat-error *ngIf="invoiceForm.hasError('required', 'action_date')">
        Este dato es necesario
      </mat-error>
    </mat-form-field>
  </div>

  <!-- <ng-container *ngIf="purchase.current$ | async as purchase"> -->
    <div class="row">
      <ng-container *ngIf="invoiceId != null">

        <!-- PROVIDER -->
        <div class="col s12 l4">
          <app-provider-selector (result)="setProvider($event)"></app-provider-selector>
        </div>

        <!-- SEDE -->
        <mat-form-field appearance="outline" class="col s12 l4">
          <mat-label>Sede</mat-label>
          <mat-select required placeholder="Sede" name="storeCtrl"  [formControl]="storeCtrl" (selectionChange)="onStoreSelected($event)">
            <mat-option *ngFor="let sede of stores$ | async" [value]="sede">
              {{ sede.referencia || "" }}
              <span class="small-text">({{ sede.tipo || "" }})</span>
            </mat-option>
          </mat-select>
        </mat-form-field>

      </ng-container>
    </div>

    <div class="row">
      <div class="col s12">
        <button mat-raised-button color="accent" [disabled]="(store == null || provider == null)"
          (click)="addConcept()">
          Agregar Concepto
        </button>

        <ng-container *ngIf="store && provider">
          <ng-container *ngIf="conceptInvoice.details$.value">
            <ng-container *ngFor="let concept of conceptInvoice.details$.value ">
              <app-invoice-concept [concept]="concept">
              </app-invoice-concept>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
          <app-footer-invoice ></app-footer-invoice>
      </div>
    </div>
    {{store != null || provider != null}}
    <button 
        mat-raised-button 
        color="primary"
        [disabled]="(store == null || provider == null)"
        (click)="saveInvoice()">Guardar</button>
  <!-- </ng-container> -->
</form>