<div class="container">
  <div class="row">
    <div class="col s12">
      <mx-crud-panel
      listName="Facturas de Ventas"
      [addTemplate]="add"
      [list]="listInvoice"
      [selectTemplate]="select"
      [height_vh]="100"
      itemSelector="invoice_ID"
      #crudPanel
      (onAdd)="onCreate()"
      >
      <ng-template #add ><app-create-invoice-sales
        (submited)="crudPanel.closeAll()"></app-create-invoice-sales>
      </ng-template>

        <ng-template #select let-invoice="item" >
          <app-create-invoice-sales  [invoice]="invoice"></app-create-invoice-sales>
        </ng-template>
      </mx-crud-panel>
    </div>
  </div>
</div>