<div class="container">
  <div class="row">
    <div class="col s12">
      <mx-crud-panel
      listName="Clientes"
      [selectTemplate]="select"
      [addTemplate]="add"
      [list]="clients"
      [height_vh]="100"
      [itemSelector]="['name']"
      [addConfig]="{'label': 'Crear'}"

      #crudPanel
      (onDelete)="onDeleteItem($event)"
       >
        <ng-template #add>
          <mx-client-form (submited)="crudPanel.closeAll()" ></mx-client-form>
        </ng-template>

        <ng-template #select let-client="item" >
          <mx-client-form [client]="client" (submited)="crudPanel.closeAll()" ></mx-client-form>
        </ng-template>
      </mx-crud-panel>
    </div>
  </div>
</div>