<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer="matDrawer"
  [position]="'start'"
  [mode]="'over'"
  [opened]="arqueoSelected ? true : false">

    <app-counting-report
      *ngIf="arqueoSelected"
      [arqueo]="arqueoSelected"
      (close)="closeArqueo()"
    ></app-counting-report>

  </mat-drawer>
  <mat-drawer-content>
    
    <div class="container">
      <div class="row">
        <div class="col s12">
          <mat-card>
            <mat-card-title-group>
              <mat-card-title>Arqueos</mat-card-title>
              <mat-card-subtitle
                >Activa el modo arqueo para realizar ajustes en el inventario de
                manera masiva</mat-card-subtitle
              >
              <div class="action-button">
                <ng-container *ngIf="!productBalancings.current; else finalize">
                  <button
                    mat-raised-button
                    (click)="initArqueo()"
                    color="primary"
                  >
                    Iniciar arqueo
                  </button>
                </ng-container>
                <ng-template #finalize>
                  <button
                    mat-raised-button
                    color="accent"
                    (click)="productBalancings.finalize()"
                  >
                    Finalizar arqueo
                  </button>
                </ng-template>
              </div>
            </mat-card-title-group>
            <mat-card-content>
              <div id="arqueos-list" *ngIf="(productBalancings.list$ | async) as list">
                <table mat-table #table [dataSource]="list">
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let arqueo">
                      {{ arqueo.id }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="startDate">
                    <th mat-header-cell *matHeaderCellDef>Realizada</th>
                    <td mat-cell *matCellDef="let arqueo">
                      {{ arqueo.startDate | mxTimestamp | date: 'dd/MM/yy - hh:mm' }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="recordCount">
                    <th mat-header-cell *matHeaderCellDef>Cotabilizados</th>
                    <td mat-cell *matCellDef="let arqueo">
                      {{ arqueo.recordCount }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="endDate">
                    <th mat-header-cell *matHeaderCellDef>Terminó</th>
                    <td mat-cell *matCellDef="let arqueo">
                      {{ arqueo.endDate | mxTimestamp | date: 'dd/MM/yy - hh:mm' }}
                    </td>
                  </ng-container>
                  <tr
                    mat-header-row
                    *matHeaderRowDef="[
                      'id',
                      'startDate',
                      'recordCount',
                      'endDate'
                    ]"
                  ></tr>
                  <tr
                    class="table-row"
                    mat-row
                    *matRowDef="
                      let arqueo;
                      columns: ['id', 'startDate', 'recordCount', 'endDate']
                    "
                    (click)="selectArqueo(arqueo)"
                  ></tr>
                </table>
              </div>
            </mat-card-content>
            <mat-card-actions>
              
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>