<div class="container">
  <div class="row">
    <div class="col s12">
      <mx-crud-panel
      *ngIf="(index.page$ | async) as list"
      listName="Personal"
      [selectTemplate]="select"
      [addTemplate]="add"
      [list]="list"
      [height_vh]="100"
      [itemSelector]="['name']"
      #crudPanel
      (onDelete)="onDeleteItem($event)"
      [addConfig]="{'label': 'Crear'}"

      [columns]="columns"
       >

        <ng-template #add>
          <app-set-usuario (submited)="crudPanel.closeAll()" ></app-set-usuario>
        </ng-template>

        <ng-template #select let-user="item" >
          <app-set-usuario (submited)="crudPanel.closeAll()" [usuario]="user"></app-set-usuario>
        </ng-template>
      </mx-crud-panel>
    </div>
  </div>
</div>