<!-- Unidad de medida -->
<mat-form-field appearance="outline">
  <mat-label>Unidad de medida</mat-label>
  <mat-hint>La forma en que es medida o considerada para su venta o facturación.
    <span class="blue-text">Valor por defecto: <b>Unidad</b> </span>
  </mat-hint>
  <mat-select
    placeholder="Elige una unidad de medida"
    [formControl]="selectorCtrl"
    name="mesureUnit">
      <mat-option
        *ngFor="let unit of (mesureUnits.list$ | async)"
        [value]="unit">
          {{unit.name}} ({{unit.symbol}})
      </mat-option>
    </mat-select>
</mat-form-field>