@import '/src/assets/design/dashboard.scss';


:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#sidenav-menu {
  margin: 0;
  border: none;
  height: -webkit-fill-available;
  overflow-y: auto;
  position: relative;
  width: 100%;
  background: $sidenav-bg;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  z-index: 1;
  padding: 0 !important;
  a.collection-item {
      padding: .75em 2em;
      color: $sidenav-text;
      background: $sidenav-bgdark;
      border-bottom: $sidenav-bg;
      cursor: pointer;
      transition: all 0.3s;
  }
  .collection .collection-item.active {
      background-color: $sidenav-bgdark !important;
      transition: all 0.3s;
  }
  .collection a.collection-item:not(.active):hover {
      background: $sidenav-hover;
  }
  .collection {
      border-radius: 0;
      display: flex;
      flex-direction: column;
  }
  ::ng-deep {
    .mat-accordion .mat-expansion-panel:first-of-type,
    .mat-accordion .mat-expansion-panel:last-of-type,
    .mat-expansion-panel {
        background-color: $sidenav-bg;
        border-radius: none !important;
        margin: 0 !important;
        color: $sidenav-text;
        transition: all 0.3s;
        mat-panel-title {
          color: $sidenav-text;
          width:100%;
          .fas {
            margin-right: 1em;
          }
        }
    }
    .mat-expansion-panel-body {
      padding: 0;
    }
    .mat-expansion-indicator::after {
        color: $sidenav-text;
    }
    .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']):hover {
      background: $sidenav-hover !important;
    }
  }
  mat-accordion {
    margin-bottom: 2em !important;
    display: block;
  }
  @media (max-width: 768px) {
    width: 100%
  }
}

#sidenav-menu::-webkit-scrollbar {
  display: none;
}

#main-menu .collection {
  display: flex !important;
  flex-direction: column;
  .collection-item {
    transition: all 0.3s;
    background: $sidenav-bgdark
  }
}


#admin-logo {
  background: $sidenav-bg;
  width: 100%;
  height: 7vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  h1 {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0.5em;
    font-family: 'Ubuntu';
    font-weight: bold;
  }
  img {
    width:100%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
  }
  @media (max-width: 768px) {
    padding: 0;
    img {
      width: 50%;
      transform: translate(-90%, -50%);
      left: 50%;
    }
  }
  button {
    left:35%
  }
}

.version {
  bottom: 0;
  position: relative;
  color: $sidenav-text;;
  font-size: medium;
  display: flex;
  align-items: flex-end;
  ::ng-deep mx-version-notifier small {
    font-size: 75%;
  }
}


mat-icon {
  margin-right: 10px !important;
}

a {
  text-decoration: none !important;
}
