<div class="collection-item" id="admin-logo">
  <!-- <img src="/assets/img/lasmotos-logotipo-h-trans-neg.webp" alt="" /> -->
  <h1 [routerLink]="[ '/business', eid ]" >MERPSI</h1>

  <div class="version">
    <small>Version:</small>
    <mx-version-notifier></mx-version-notifier>
  </div>

  <button mat-icon-button *ngIf="!responsive.large" (click)="closePanel.emit()">
    <i class="fas fa-times white-text"></i>
  </button>
</div>

<ul
  class="collapsible"
  data-collapsible="accordion"
  id="sidenav-menu"
  *ngIf="auth.userState$ | async as user">

    <!-- MAIN MENU -->
    <li id="main-menu">
      <div class="collection">

        <!-- DASHBOARD LINK -->
        <a class="collection-item" [routerLink]="[ '/business', eid ]">
          <mat-icon class="material-icons-round">dashboard</mat-icon>
          Dashboard
        </a>

        <!-- USER LINK -->
        <a *ngIf="user"
        class="collection-item"
        [matMenuTriggerFor]="accountMenu">
          <mat-icon class="material-icons-outlined">account_circle</mat-icon>
          {{user.name}}
        </a>

        <mat-menu #accountMenu="matMenu">
          <button mat-menu-item [routerLink]="[ 'profile' ]">
            <mat-icon class="material-icons-outlined">manage_accounts</mat-icon>
            Configuración de cuenta
          </button>

          <button mat-menu-item (click)="signOut()">
            <mat-icon class="material-icons-outlined">exit_to_app</mat-icon>
            Cerrar sessión
          </button>

      </mat-menu>


        <!-- PAGE LINK -->
        <!-- <ng-container *ngIf="isLocalhost; else prod">
          <a class="collection-item" [href]="href.includes('localhost')
            ? 'http://localhost:4200/site'
            : 'https://tiendalasmotos.com'"
          >Ir a página</a>
        </ng-container>
        <ng-template #prod >
          <a class="collection-item" [routerLink]="[ '/site' ]">Ir a página</a>
        </ng-template> -->


      </div>
    </li>

    <mat-accordion >

      <ng-container *ngFor="let module of (modules$ | async)">

        <mat-expansion-panel
        class="mat-elevation-z0"
        *ngIf="adminPermissions"
        [expanded]="onActive(module.keyword || '')">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>{{module.icon}}</mat-icon>
              {{module.displayName || 'route'}}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="collection">

            <ng-container *ngFor="let item of module.items">
              <a *ngIf="adminPermissions"
                class="collection-item"
                [routerLink]="[item.route]"
                routerLinkActive="active"
                >{{item.displayName}}</a
              >
            </ng-container>

          </div>
        </mat-expansion-panel>

      </ng-container>

    </mat-accordion>


</ul>

