<mx-crud-panel
*ngIf="(taxes.list$ | async) as list"
listName="Tipos de impuesto"
[selectTemplate]="select"
[addTemplate]="add"
[list]="list"
[itemSelector]="['name']"
[drawerWidth]="50"
#crudPanel
(onDelete)="taxes.delete($event)"
[columns]="columns"
>

  <ng-template #add>
    <mat-card class="mat-elevation-z0">
      <mat-card-header>
        <mat-card-title>Crear un nuevo tipo de impuesto</mat-card-title>
        <mat-card-subtitle>Agrega un tipo de impuesto que después deberás usar en las facturas.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-tax-form></app-tax-form>
      </mat-card-content>
    </mat-card>
  </ng-template>

  <ng-template #select let-tax="item" >
    <mat-card class="mat-elevation-z0">
      <mat-card-header>
        <mat-card-title>Editar tipo de impuesto</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-tax-form [value]="tax"></app-tax-form>
      </mat-card-content>
    </mat-card>
  </ng-template>

</mx-crud-panel>  
