<div class="container">
  <div class="row">
    <div class="col s12">
      <mx-sort-options [fields]="['invoiceId']"></mx-sort-options>
      <mx-crud-panel
      listName="Nota de Credito"
      [selectTemplate]="select"
      [list]="listCredits"
      [addTemplate]="add"
      [height_vh]="100"
      [itemSelector]="['id']"
      [addConfig]="{'label': 'Crear Factura'}"
      (onAdd)="create()"
      #crudPanel
       >
        <ng-template #add>
          <app-form-credit-note
          (submited)="crudPanel.closeAll()"
          ></app-form-credit-note>
        </ng-template>

        <ng-template #select let-document="item" >
          <app-select-credit-note [document]="document" ></app-select-credit-note>
        </ng-template>
      </mx-crud-panel>
      <mx-index-caller
      prevBtn="Anterior"
      nextBtn="Siguiente"
      colorBtn="primary"
      [centerMessage]="centerMessage"
      [merge]="false"
      ></mx-index-caller>
    </div>
  </div>
</div>