<div class="container">
  <div class="row">
    <div class="col s12">
      <mx-crud-panel
      *ngIf="(sedes$ | async) as list"
      listName="Sedes"
      [selectTemplate]="select"
      [addTemplate]="add"
      [list]="list"
      [height_vh]="100"
      [itemSelector]="['referencia']"
      #crudPanel
      (onDelete)="onDeleteItem($event)"
       >

        <ng-template #add>
          <app-set-sede></app-set-sede>
        </ng-template>

        <ng-template #select let-sede="item" >
          <app-set-sede
          (saved)="crudPanel.closeAll()"
          [sede]="sede"
          ></app-set-sede>
        </ng-template>

      </mx-crud-panel>
    </div>
  </div>
</div>
