<div class="container">
  <div class="row">
    <div class="col s12 m8">
      <form [formGroup]="invoiceForm">
        <mat-form-field appearance="outline" class="col s12">
          <mat-label>Sede</mat-label>
          <mat-select required placeholder="Sede" name="store">
            <mat-option *ngFor="let sede of stores$ | async" [value]="sede.id">
              {{sede.referencia}} <span class="small-text">({{sede.tipo}})</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- CRF -->
        <ng-container>
          <mat-form-field appearance="outline" class="col s12">
            <!-- crf del provedor -->
            <mat-label>CRF</mat-label>
            <input matInput type="text" name="provider" formControlName="provider"
              (blur)="findProvider(invoiceForm.controls.provider.value)">
            <mat-error *ngIf="invoiceForm.hasError('required', 'CRF')">
              Este dato es necesario
            </mat-error>
            <mat-error *ngIf="invoiceForm.hasError('caca', 'CRF')">
              Esto es caca
            </mat-error>
          </mat-form-field>
          <ng-container *ngIf="nameProvider">
            <!-- Nombre del proovedor -->
            <mat-form-field appearance="outline" class="col s12">
              <mat-label>Proveedor</mat-label>
              <input matInput type="text" name="nameProvider" formControlName="nameProvider">
            </mat-form-field>
          </ng-container>
        </ng-container>

      </form>

    </div>
  </div>
</div>