<label><h2>Selecciona el concepto:</h2></label>
<div class="row">
  <mat-radio-group
 [formControl]="concept">
 <mat-radio-button  [value]="'anulacion'">
  <h3><b>Nota Crédito por Anulacion de Factura:</b> <br/> 
   Aplica para registrar la devolución <strong>completa</strong> de mercancia realizada por los clientes afectando las existencias de inventarios
 </h3>
 </mat-radio-button>
  <mat-radio-button  [value]="'devolucion'">
   <h3><b>Nota Crédito por Devolución Mercancias clientes:</b> <br/> 
    Aplica para registrar la devolución de mercancia realizada por los clientes afectando las existencias de inventarios
  </h3>
  </mat-radio-button>
  <mat-radio-button  [value]="'disminucion'">
    <h3><b>Nota Crédito de Cientes:</b> <br/> Aplica para disminuir el valor a cobrar de una factura de venta por descuentos otorgados o por errores en los precios cobrados. No afecta existencias
    </h3>
  </mat-radio-button>
</mat-radio-group>
<ng-container *ngIf="(concept.value=='devolucion' || concept.value=='disminucion') && this.sales.current$.value as invoice">
  <h2>Selecciona los productos a los cuales se le aplicara la Nota de Credito</h2>
  <table >
    <thead>
      <tr>
        <th>Producto</th>
        <th>Sede</th>
        <th>Cantidad</th>
        <th>Valor</th>
        <th>seleccion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let det of invoice.details" >
        <td>{{det.UPC}}-{{det.description | uppercase}}</td>
        <td>{{det.store}}</td>
        <td>{{det.cant}}</td>
        <td>{{det.unit_cost}}</td>
        <td class> <mat-checkbox
          (change)="addProduct($event, det)">
          </mat-checkbox></td>
      </tr>
    </tbody>
  </table>
</ng-container>

<button mat-raised-button color="primary" (click)="createCN()">aceptar</button>
