#dashboard {
  min-height: 100vh;
}

#sidebar {
  width: 20%;
  position: fixed;
  height: 100vh;
  @media screen and ( max-width: 768px){
    width: 80%;
  }
}

#mobile-navbar {
  background: #e0ecf5;
  box-shadow: 0px 1px 3px 2px rgb(0 0 0 / 50%);
}
