mat-drawer-container {
  height: calc(100vh - 49px);
}

mat-drawer {
  width: 100%;
}

.table-item {
  cursor: pointer;
  transition: all 0.3s ease;
  .del-cell {
    opacity: 0;
    transition: all 0.3s ease;
    max-width: 50px;
  }
  &:hover {
    background-color: rgba(204, 204, 204, 0.336);
    opacity: 1;
    .del-cell {
      opacity: 1;
    }
  }
}