<div class="collection-item" id="admin-logo">
  <!-- <img src="/assets/img/lasmotos-logotipo-h-trans-neg.webp" alt="" /> -->
  <button mat-icon-button *ngIf="!responsive.large" (click)="closePanel.emit()">
    <i class="fas fa-times white-text"></i>
  </button>
</div>

<ul class="collapsible" data-collapsible="accordion" id="sidenav-menu" *ngIf="auth.userState$ | async as user">
  <li id="main-menu">
    <div class="collection">
      <a *ngIf="user" class="collection-item" [routerLink]="[ '' ]">
        {{user.name}}
      </a>
      <a class="collection-item" [routerLink]="[ '/dashboard' ]">Dashboard</a>
      <ng-container *ngIf="isLocalhost; else prod">
        <a class="collection-item" [href]="href.includes('localhost') 
          ? 'http://localhost:4200/site' 
          : 'https://tiendalasmotos.com'" 
        >Ir a página</a>
      </ng-container>
      <ng-template #prod >
        <a class="collection-item" [routerLink]="[ '/site' ]">Ir a página</a>
      </ng-template>
      <a class="collection-item" (click)="signOut()">Cerrar sessión</a>
    </div>
  </li>

  <mat-accordion >

    <!-- PÁGINA -->
    <mat-expansion-panel *ngIf="user.rol == 'administrador'" [expanded]="onActive('website')">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="fas fa-desktop"></i>
          Página
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="collection">
        <a
          class="collection-item"
          [routerLink]="['/dashboard/website/hero']"
          routerLinkActive="active"
          >Hero</a
        >
        <a
          class="collection-item"
          [routerLink]="['/dashboard/website/blog']"
          routerLinkActive="active"
          >Blog</a
        >
        <!-- <a
          class="collection-item"
          [routerLink]="['/panel/contenido/landingpages']"
          routerLinkActive="active"
          >Landingpages</a
        > -->
        <a
          class="collection-item"
          [routerLink]="['/dashboard/website/catalogo']"
          routerLinkActive="active"
          >Catalogo</a
        >
      </div>
    </mat-expansion-panel>

    <!-- CLIENTES -->
    <mat-expansion-panel [expanded]="onActive('clientes')">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="fas fa-users"></i>
          Clientes
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="collection">
        <a
          class="collection-item"
          [routerLink]="['/dashboard/clientes']"
          routerLinkActive="active"
          >Lista</a
        >
        <!-- <a
          class="collection-item"
          [routerLink]="['/panel/citas']"
          routerLinkActive="active"
          >Citas</a
        > -->
        <!-- <a *ngIf="user.rol == 'administrador'"
          class="collection-item"
          [routerLink]="['/panel/messenger']"
          routerLinkActive="active"
          >Configuración</a
        > -->
      </div>
    </mat-expansion-panel>

    <!-- TIENDA -->
    <mat-expansion-panel [expanded]="onActive('tienda')">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="fas fa-store"></i>
          Tienda
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="collection">
        <a
          class="collection-item"
          [routerLink]="['/dashboard/punto-de-venta']"
          routerLinkActive="active"
          >Punto de venta</a
        >
        <a *ngIf="user.rol == 'administrador'"
          class="collection-item"
          [routerLink]="['/dashboard/inventario']"
          routerLinkActive="active"
          >Inventario</a
        >
        <a *ngIf="user.rol == 'administrador'"
          class="collection-item"
          [routerLink]="['/dashboard/store-db']"
          routerLinkActive="active"
          >Base de datos</a
        >
        <!-- <a *ngIf="arqueos.current"
          class="collection-item"
          [routerLink]="['/dashboard/modo-arqueo']"
          routerLinkActive="active"
          >Arqueo</a
        > -->
      </div>
    </mat-expansion-panel>

    <!-- FINANZAS -->
    <mat-expansion-panel *ngIf="user.rol == 'administrador'" [expanded]="onActive('finanzas')">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="fas fa-wallet"></i>
          Finanzas
        </mat-panel-title>
      </mat-expansion-panel-header>
        <div class="collection">
          <!-- <a
            class="collection-item"
            [routerLink]="['/panel/predict']"
            routerLinkActive="active"
            >Analizador de ventas</a
          > -->
        </div>
    </mat-expansion-panel>

    <!-- ADMINISTRACIÓN -->
    <mat-expansion-panel [expanded]="onActive('admin')">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="fas fa-user"></i>
          Administración
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="collection">
        <!-- <a
          class="collection-item"
          [routerLink]="['/dashboard/admin/notificaciones']"
          routerLinkActive="active"
          >Notificaciones</a
        > -->
        <a *ngIf="user.rol == ('propietario')"
          class="collection-item"
          [routerLink]="['admin/personal']"
          routerLinkActive="active"
          >Personal</a
        >
        <a *ngIf="user.rol == ('propietario')"
          class="collection-item"
          [routerLink]="['admin/sedes']"
          routerLinkActive="active"
          >Sedes</a
        >
        <!-- <a
          class="collection-item"
          [routerLink]="['/dashboard/admin/almacenamiento']"
          routerLinkActive="active"
          >Almacenamiento</a
        > -->
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="version">
    <small>Version:</small>
    <mx-version-notifier></mx-version-notifier>
  </div>
</ul>

