<div class="container">
  <div class="row">
    <div class="col s12">
      <mx-crud-panel
      *ngIf="(mesureUnits.list$ | async) as list"
      listName="Unidades de medida"
      [selectTemplate]="select"
      [addTemplate]="add"
      [list]="list"
      [height_vh]="100"
      itemSelector="name"
      #crudPanel
      (onDelete)="mesureUnits.delete($event)"
      [columns]="columns"
      >
      
        <ng-template #add>
          <mat-card class="mat-elevation-z0">
            <mat-card-header>
              <mat-card-title>Crear una unidad de medida</mat-card-title>
              <mat-card-subtitle>
                Crea una unidad de medida que podrá ser usada por los productos del inventario.
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <app-mesure-unit-form></app-mesure-unit-form>
            </mat-card-content>
          </mat-card>
        </ng-template>
      
        <ng-template #select let-mesureUnit="item" >
          <mat-card>
            <mat-card-header>
              <mat-card-title>Editar unidad de medida</mat-card-title>
              <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <app-mesure-unit-form [value]="mesureUnit"></app-mesure-unit-form>
            </mat-card-content>
          </mat-card>
        </ng-template>
      
      </mx-crud-panel>
    </div>
  </div>
</div>