<div class="full-page" [mxBackground]="'main'">
  <div class="row">
    <div class="col s12">
      <div class="logo-image">
        <img [src]="'/assets/img/lasmotos-logotipo-trans-neg.webp'" [alt]="'las motos logo negativo'">
      </div>
      <div class="card">
        <mx-login-card
        (onSubmit)="onSubmit($event)"
        (restorePwd)="onRestore()"
        ></mx-login-card>
      </div>
      <div class="credits">
        <p class="white-text center"> Las motos Auteco 2021 | v. <mx-version-notifier></mx-version-notifier> </p>
      </div>
    </div>
  </div>
</div>
