@use '~@angular/material' as mat;
@include mat.core();
@import '~@marxa/devkit/styles/responsive.scss';

$merpsi-primary: mat.define-palette(mat.$indigo-palette);
$merpsi-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$merpsi-warn: mat.define-palette(mat.$red-palette);

$merpsi-theme: mat.define-light-theme((
  color: (
    primary: $merpsi-primary,
    accent: $merpsi-accent,
    warn: $merpsi-warn,
  )
));


@include mat.all-component-themes($merpsi-theme);



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
