/* For use in src/lib/core/theming/_palette.scss */


$mp-turqueza: (
    50 : #e1f6f8,
    100 : #b4e8ef,
    200 : #83d9e4,
    300 : #51c9d9,
    400 : #2bbed0,
    500 : #06b2c8,
    600 : #05abc2,
    700 : #04a2bb,
    800 : #0399b4,
    900 : #028aa7,
    A100 : #d1f6ff,
    A200 : #9eebff,
    A400 : #6be1ff,
    A700 : #52dbff,
    text: #090f11,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #090f11,
        A200 : #090f11,
        A400 : #090f11,
        A700 : #090f11,
    )
);

$mp-indigo: (
    50 : #e5edf7,
    100 : #bed3ea,
    200 : #92b6dc,
    300 : #6698ce,
    400 : #4682c4,
    500 : #256cb9,
    600 : #2164b2,
    700 : #1b59aa,
    800 : #164fa2,
    900 : #0d3d93,
    A100 : #c3d5ff,
    A200 : #90b2ff,
    A400 : #5d8fff,
    A700 : #437dff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$mp-arena: (
    50 : #fdf6f0,
    100 : #fbead9,
    200 : #f8dcc0,
    300 : #f5cda7,
    400 : #f3c394,
    500 : #f1b881,
    600 : #efb179,
    700 : #eda86e,
    800 : #eba064,
    900 : #e79151,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffecdf,
    A700 : #ffddc5,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// $main-theme {

// }
