<form [formGroup]="formFooter">
  <div class="row">
    <div class="col s12 l8 offset-l8">
      <div class="col s4">
        <mat-form-field >
          <mat-label>subtotal</mat-label>
          <input matInput type="number" name="subtotal" formControlName="subtotal">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 l8 offset-l8">
      <div class="col s4">
        <mat-form-field appearance="outline" >
          <mat-label>descuento</mat-label>
          <input matInput type="number" name="discount" formControlName="discount">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 l8 offset-l8">
      <div class="col s4">
        <mat-form-field appearance="outline" >
          <mat-label>Fletes</mat-label>
          <input matInput type="number" name="shipping" formControlName="shipping">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 l8 offset-l8">
      <div class="col s4">
        <app-tax-amount-crud
        [amount_base]="formFooter.controls.subtotal.value"
        (totalTax)="getTotalTaxes()">
        </app-tax-amount-crud>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 l8 offset-l8">
      <div class="col s4">
        <mat-form-field >
          <mat-label>total</mat-label>
          <input matInput type="number" name="total" formControlName="total">
        </mat-form-field>
      </div>
    </div>
  </div>
</form>
