  <ng-container *ngIf="(foot.currentfoot$ | async ) as footer ">
  <form [formGroup]="formFooter">
    <div class="row">
      <div class="col s12 l8 offset-l8">
        <div class="col s4">
          Subtotal: {{footer.subtotal | number}}
        </div>
      </div>
    </div>
    <!-- DESCUENTOS -->
    <ng-container *ngIf="!invoice else discount" >
    <div class="row">
      <div class="col s12 l8 offset-l8">
        <div class="col s4">
            <mat-form-field appearance="outline">
              <mat-label>descuento</mat-label>
              <input matInput type="number" name="discount" formControlName="discount">
            </mat-form-field>
          </div>
        </div>
      </div>
      <!-- FLETES -->
      <div class="row">
      <div class="col s12 l8 offset-l8">
        <div class="col s4">
            <mat-form-field appearance="outline">
              <mat-label>Fletes</mat-label>
              <input matInput type="number" name="shipping" formControlName="shipping">
            </mat-form-field>
          </div>
        </div>
      </div>
    </ng-container>
      <ng-template #discount>
        descuento: {{footer.discount | number}}
        Fletes: {{footer.shipping | number}}
    </ng-template>
      
    <!-- taxes -->
    <div class="row">
      <div class="col s12 l8 offset-l8">
        <div class="col s4">
          <ng-container *ngIf="invoice && document == 'sale'; else taxesCrud">
            <ng-container *ngFor="let tax of footer.taxes">
              {{tax.name}}({{tax.rate}}%) ${{tax.amount}}
            </ng-container>
          </ng-container>
          <ng-template #taxesCrud>
            <app-tax-amount-crud [amount_base]="footer.subtotal" (totalTax)="foot.getTotalTaxes()">
            </app-tax-amount-crud>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 l8 offset-l8">
        <div class="col s4">
          Total: {{footer.total | number}}
        </div>
      </div>
    </div>
  </form>
  </ng-container>
 

<!-- <ng-template #seeInvoice>
  <ng-container *ngIf="(foot.currentfoot_invoice$ | async) as footer">
    <div class="row">
      <div class="col s12 l8 offset-l8">
        <div class="col s4">
          Subtotal: {{footer.subtotal | number}}
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col s12 l8 offset-l8">
        <div class="col s4">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 l8 offset-l8">
        <div class="col s4">
          <ng-container *ngIf="invoice && document == 'sale'">
            <ng-container *ngFor="let tax of footer.taxes">
              {{tax.name}}({{tax.rate}}%) ${{tax.amount}}
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 l8 offset-l8">
        <div class="col s4">
          Total: {{footer.total | number}}
        </div>
      </div>
    </div>
  </ng-container>
</ng-template> -->

